<div id="gpxviewer">
  <figure id="map" class="gpxview:{{ include.track }}:OSMDE">
   <noscript><p>Zum Anzeigen der Karte wird Javascript benötigt.</p></noscript>
  </figure>
  <figure id="map_profiles">
    <figure id="map_hp" class="no_x">
     <noscript>
      <p>Zum Anzeigen des Höhenprofils gegen den Weg wird Javascript benötigt.</p>
     </noscript>
    </figure>
    <figure id="map_sp" class="no_x">
     <noscript>
      <p>Zum Anzeigen des Steigungsprofils gegen den Weg wird Javascript benötigt.</p>
     </noscript>
    </figure>
  </figure>
</div>
