// gpxviewer styles
figure {
   margin:0;
   padding:0;
 }

#gpxviewer {
   display: grid;
   gap: .3em;
   grid-template-columns: repeat(auto-fit, minmax(15em, 1fr	));
}

#map {
  height:66vh;
}

#map_profiles {
  height:66vh;
}

#map_hp {
   height:calc((100% + 64px)/2);
   margin-top:10px
}

#map_sp {
  height:calc((100% + 64px)/2);
  margin-top:-37px
}
